// Variables
$colorWhite: #ffffff;
$colorOWLightYellow: #FCBD49;
$colorOWDarkYellow: #FAA02E;
$colorBodyBG: #222222;
$colorHeaderBG: #141414;
$colorRegionBG: #343434;
$colorRegionButton: #292929;
$colorRegionButtonHover: #1E1E1E;
$colorStatusBG: #292929;
$colorOnline: #75FE88;
$colorOffline: #FF5353;
$colorScanning: #53C3FF;
$colorError: #FFD753;

$fontOverwatch: "Big Noodle Titling", Helvetica, Arial, sans-serif;

// Overwatch (Big Noodle Titling) font import
@font-face {
    font-family: 'Big Noodle Titling';
    src: url('../static/fonts/big-noodle-too.woff'), url('../static/fonts/big-noodle-too-oblique.woff'), url('../static/fonts/big_noodle_titling.ttf');
}

// Global styling
body {
    -webkit-app-region: no-drag;
    font-family: $fontOverwatch;
    background-color: $colorBodyBG;
    color: $colorWhite;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    background: transparent;
}

// Core App Styling
#app {
    text-align: center;
    text-transform: uppercase;
}

// App error styling
.appError {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(41,41,41, 0.85);
    text-align: center;
    z-index: 60;
    .appErrorContent {
        position: fixed;
        top: 16%;
        width: 100%;
        height: 100%;
    }
    img {
        width: 128px;
        height: 128px;
    }
    h1 {
        margin: 0;
        color: $colorOffline;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        user-select: none;
        span {
            color: $colorWhite;
        }
    }
    p {
        font-size: 18px;
        font-weight: 700;
        margin: 5px;
    }
}

// App header styling
.appHeader {
    -webkit-app-region: drag;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #141414;
    line-height: 0.35;
    z-index: 50;
    h1 {
        color: $colorOWLightYellow;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        user-select: none;
        z-index: 51;
        &:hover {
            cursor: default;
        }
        span {
            color: $colorWhite;
        }
    }
    .appHeaderSettingsIcon {
        position: fixed;
        top: 4%;
        left: 3%;
        user-select: none;
        z-index: 52;
        &:hover {
            cursor: pointer;
        }
        img {
            -webkit-app-region: no-drag;
            -webkit-transition: all .3s;
            width: 24px;
            height: 24px;
            padding: 6px;
            transition: all .3s;
            &:hover {
                cursor: pointer;
            }
        }
        img:active {
            transform: scale(0.8);
        }
    }
}

// App Window controls styles (Win32 Only)
.appHeaderWindowControls {
    position: fixed;
    top: 5%;
    right: 2%;
    img {
        -webkit-app-region: no-drag;
        -webkit-transition: all .3s;
        width: 20px;
        height: 20px;
        margin: 5px;
        user-select: none;
        transition: all .3s;
        &:hover {
            cursor: pointer;
        }
    }
    img:active {
        transform: scale(0.8);
    }
    #windowControlMaximize:hover {
        cursor: default;
    }
    #windowControlMaximize:active {
        transform: scale(1);
    }
}

// App region selector styling
.appRegionSelect {
    position: fixed;
    width: 50%;
    height: calc(100% - 65px);
    top: 65px;
    left: 0;
    background-color: $colorRegionBG;
    line-height: 1.0;
    z-index: 40;
    table {
        margin: auto;
        margin-top: 2px;
    }
    .regionButton {
        width: 98px;
        height: 98px;
        margin: 6px;
        padding: 5px;
        color: $colorWhite;
        background-color:$colorRegionButton;
        border: none;
        border-radius: 0px;
        -webkit-transition: all .3s;
        transition: all .3s;
        z-index: 41;
        &:hover {
            transform: scale(1.05);
            -webkit-transition: all .3s;
            transition: all .3s;
            background-color: $colorRegionButtonHover;
            cursor: pointer;
        }
        &:active {
            transform: scale(0.9);
            background-color: $colorRegionButtonHover;
        }
        &:focus {
            background-color: $colorRegionButtonHover;
        }
        span {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1px;
            user-select: none;
        }
        img {
            width: 64px;
            height: 64px;
            margin-top: 5px;
            margin-bottom: 5px;
            pointer-events: none;
            user-select: none;
        }
    }
}

// App status styles
.appStatus {
    position: fixed;
    width: 50%;
    height: calc(100% - 65px);
    top: 65px;
    left: 50%;
    z-index: 30;
    .appStatusHeader {
        position: fixed;
        width: 50%;
        height: 65px;
        background-color: $colorStatusBG;
        line-height: 0.4;
        z-index: 31;
    }
    h1 {
        z-index: 32;
        font-size: 30px;
        .onlineGreen {
            color: $colorOnline;
        }
        .offlineRed {
            color: $colorOffline;
        }
        .scanningBlue {
            color: $colorScanning;
        }
        .errorYellow {
            color: $colorError;
        }
        &:hover {
            cursor: default;
            user-select: none;
        }
    }
    .appStatusIcon {
        position: fixed;
        top: 45%;
        left: 60%;
        img {
            width: 151px;
            height: 151px;
            pointer-events: none;
            user-select: none;
        }
    }
    .appStatusIconSpinning {
        animation: iconStatusScanningRotate infinite 2s linear;
    }
    @keyframes iconStatusScanningRotate {
        from { 
            transform: rotate(0deg); 
        }
        to { 
            transform: rotate(360deg); 
        }
    }
}