/**
 * App header line height
**/
.appHeader {
  line-height: 0.25!important;
}

/**
 * Settings icon location
**/
.appHeaderSettingsIcon {
  left: auto!important;
  right: 4%!important;
}

/**
 * Region buttons border
**/
.regionButton {
  border-radius: 8px!important;
}